#change-password-div {
    width: 350px;
    margin: auto;
    top: 50px;

    border: 1px #aaaaaa solid;
    border-radius: 5px;

    position: relative;
}

input[type=submit] {
    width: 10em;
    margin: 15px auto;
    display: block;
}