@import '../../../mygrades/static/css/global_variables.scss';

#settings_wrapper {
    width: 700px;
    margin: auto;
    position: relative;
}

#current-settings-div {
    width: 350px;
    height: 100%;

    border-right: 1px $border_gray solid;

    table {
        width: 85%;

        td {
            padding: 5px;
            font-size: 1em;
        }

        p {
            width: 100%;
            max-width: 250px;
            margin: 0 auto;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

#change-settings-div {
    width: 350px;
}