{% extends 'base.html' %}

{% block extra_head %}
    <!--link rel='stylesheet' type='text/css' href='/static/css/change_password_stylesheet.css' />
    <script type='text/javascript' src='/static/javascript/change_password_script.js'></script-->
{% endblock %}

{% block base_content %}

    <div class="form-wrapper">
        <form method='post' action='/account/change_password/' name='change_password_form'>{% csrf_token %}
            <h2 class='form-title'>Change Password</h2>

            {% for error in password_change_form.non_field_errors %}
                <p class='error'>{{ error|escape }}</p>
            {% endfor %}

            {% for field in password_change_form %}
                {% for error in field.errors %}
                    <p class='error'>{{ error|escape }}</p>
                {% endfor %}
                {{ field }}
            {% endfor %}
            <div style="border-top: 1px #aaaaaa solid; width: 98%; margin: 0 auto">
                <input type="submit" value="Change Password" style="width: 10.5em"/>
            </div>
        </form>
    </div>

{% endblock %}