{% extends 'base.html' %}

{% block extra_head %}
    <!--link rel='stylesheet' type='text/css' href='/static/css/login_page_stylesheet.css' /-->
    <script type='text/javascript' src='/static/javascript/login_page_script.js'></script>
{% endblock %}

{% block base_content %}

    <div class='form_wrapper'>
        <form method='post' action='/account/login/' name='login_form'>{% csrf_token %}
            <h2 class='form_title'>Login</h2>

            {% for error in login_form.non_field_errors %}
                <p class='error'>{{ error|escape }}</p>
            {% endfor %}

            {% for field in login_form %}
                {% for error in field.errors %}
                    <p class='error'>{{ error|escape }}</p>
                {% endfor %}
                {{ field }}
            {% endfor %}

            <a href='/account/forgot_password/' style='margin-left: 10%;color: #333333;'>Forget your password?</a>

            <div class='horizontal_line' style='margin-top: 7px'>
                <input id='login_form_submit_button' type='submit' value='Login' style='width: 6.5em'/>
            </div>
        </form>
    </div>

{% endblock %}