{% extends 'base.html' %}

{% block extra_head %}
    <!--link rel='stylesheet' type='text/css' href='/static/css/reset_password_page_passwords_stylesheet.css' /-->
    <script type='text/javascript' src='/static/javascript/reset_password_page_passwords_script.js'></script>
{% endblock %}

{% block base_content %}

    <div class='form_wrapper'>
        <form id='reset_password_form_passwords' method='post'
              action='/account/forgot_password/{{ validation_code }}/'
              name='reset_password_form_passwords'>{% csrf_token %}
            <h2 class='form_title'>Forgot Password</h2>

            <p>
                Hello {{ user_email }}<br>
                Type in your new password below.
            </p>

            {% for error in password_reset_form_passwords.non_field_errors %}
                <p class='error'>{{ error|escape }}</p>
            {% endfor %}

            {% for field in password_reset_form_passwords %}
                {% for error in field.errors %}
                    <p class='error'>{{ error|escape }}</p>
                {% endfor %}
                {{ field }}
            {% endfor %}

            <div class='horizontal_line'>
                <input id='reset_password_submit_button' type='submit' value='Reset Password' style='width: 10.5em'/>
            </div>
        </form>
    </div>

{% endblock %}