{% extends 'base.html' %}

{% block extra_head %}
    <!--link rel='stylesheet' type='text/css' href='/static/css/reseet_password_page_email_stylesheet.css' />
    <script type='text/javascript' src='/static/javascript/reseet_password_page_email_script.js'></script-->
{% endblock %}

{% block base_content %}

    <div class='form_wrapper'>
        <form method='post' action='/account/forgot_password/' name='forgot_password_form_email'>{% csrf_token %}
            <h2 class='form_title'>Forgot Password</h2>

            <p>
                If you have forgotten your password, fill in your email below. A link
                will be sent to you with further instructions on how to reset your password.
            </p>

            {% for error in password_reset_form_email.non_field_errors %}
                <p class='error'>{{ error|escape }}</p>
            {% endfor %}

            {% for field in password_reset_form_email %}
                {% for error in field.errors %}
                    <p class='error'>{{ error|escape }}</p>
                {% endfor %}
                {{ field }}
            {% endfor %}

            <div class='horizontal_line'>
                <input type='submit' value='Send Email' style='width: 7.5em'/>
            </div>
        </form>
    </div>

{% endblock %}