{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='/static/css/settings_stylesheet.css' />
    <!--script type='text/javascript' src='/static/javascript/settings_script.js'></script-->
{% endblock %}

{% block base_content %}

    <div class='form-wrapper' id="settings_wrapper">
        <table><tbody>
            <tr>
                <td colspan="2">
                    <h2  class='form-title'>Account Settings</h2>
                </td>
            </tr>
            {% if not user.is_active %}
                <tr>
                    <td colspan="2">
                        <p style="text-align: center; color: darkred">
                            Your account is locked until your email is verified.
                            To vertify your email, click the link that we sent you via email.
                            It may take a couple minutes to arrive.
                            To resend this email, first make sure your email address below
                            is correct, and then click Change Settings.
                        </p>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td id="current-settings-div">
                    <table><tbody>
                        <tr>
                            <td><p>Email:</p></td>
                            <td><p>{{ user.email }}</p></td>
                        </tr>
                        <tr>
                            <td><p>First Name:</p></td>
                            <td><p>{{ user.first_name }}</p></td>
                        </tr>
                        <tr>
                            <td><p>Last Name:</p></td>
                            <td><p>{{ user.last_name }}</p></td>
                        </tr>
                    </tbody></table>
                </td>

                <td id='change-settings-div'>
                    <form method='post' action='/account/settings/' name='change_settings_form'>{% csrf_token %}
                        <p style="text-align: center">Enter <b>only</b> information you would like to change</p>
                        {{ change_settings_form.non_field_errors }}

                        {% for error in change_settings_form.email.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.email }}

                        {% for error in change_settings_form.first_name.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.first_name }}

                        {% for error in change_settings_form.last_name.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.last_name }}

                        <div style="border-top: 1px #aaaaaa solid; width: 98%; margin: 0 auto">
                            <input type="submit" value="Change Settings"/>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody></table>
    </div>

{% endblock %}