{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='/static/css/settings_stylesheet.css' />
    <script type='text/javascript' src='/static/javascript/settings_script.js'></script>
{% endblock %}

{% block base_content %}

    {% if not user.is_active %}
        <div class='form-wrapper' id='validation_wrapper'>
            <form method='post' action='/account/settings/' name='validate_email_form'>{% csrf_token %}
                <h2 class='form-title'>Email Validation</h2>
                <p>
                    Your account is not active yet. In the box below,
                    plese enter the validation code you recieved in an email.
                </p>

                {% for error in change_settings_form.validation_code.errors %}
                    <p class='error'>{{ error|escape }}</p>
                {% endfor %}

                {{ change_settings_form.validation_code }}

                <p>
                    To resend the email, first make sure your email is
                    correct below in the Account Settings section.
                    A new email will be sent when you click Change Settings.
                </p>

                <div style="border-top: 1px #aaaaaa solid; width: 98%; margin: 0 auto">
                    <input type="submit" value="Validate Account"/>
                </div>
            </form>
        </div>

    {% endif %}

    <div class='form-wrapper' id="settings_wrapper">
        <table><tbody>
            <tr>
                <td colspan="2">
                    <h2  class='form-title'>Account Settings</h2>
                </td>
            </tr>
            <tr>
                <td id="current-settings-div">
                    <table id="current-settings-table"><tbody>
                        <tr>
                            <td>Email:</td><td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>First Name:</td><td>{{ user.first_name }}</td>
                        </tr>
                        <tr>
                            <td>Last Name:</td><td>{{ user.last_name }}</td>
                        </tr>
                    </tbody></table>
                </td>

                <td id='change-settings-div'>
                    <form method='post' action='/account/settings/' name='change_settings_form'>{% csrf_token %}
                        <p style="text-align: center">Enter <b>only</b> information you would like to change</p>
                        {{ change_settings_form.non_field_errors }}

                        {% for error in change_settings_form.email.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.email }}

                        {% for error in change_settings_form.first_name.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.first_name }}

                        {% for error in change_settings_form.last_name.errors %}
                            <p class='error'>{{ error|escape }}</p>
                        {% endfor %}
                        {{ change_settings_form.last_name }}

                        <div style="border-top: 1px #aaaaaa solid; width: 98%; margin: 0 auto">
                            <input type="submit" value="Change Settings"/>
                        </div>
                    </form>
                </td>
            </tr>
        </tbody></table>
    </div>

{% endblock %}