{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript" src="/static/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxcheckbox.js"></script>

    <link rel='stylesheet' type='text/css' href='/static/css/course_detail_stylesheet.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/course_categories_stylesheet.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/course_assignments_stylesheet.css' />
    <script src='/static/javascript/course_detail_script.js'></script>
    <script src='/static/javascript/course_categories_script.js'></script>
    <script src='/static/javascript/course_assignments_script.js'></script>

    <!--script type='text/javascript' src='/static/javascript/jquery-tablesorter.js'></script-->
{% endblock %}

{% block base_content %}

    <h1 class='course_name' id='course_{{ course.id }}'>{{ course.name }}</h1>

    {% if course.semester.courses|length > 1 %}
        {% include 'course_selector.html' with course=course %}
    {% endif %}

    {% if not course.semester.is_future %}
        <div id='report_final_grade_div'>
            <p style='font-size: 1em'>Final Grade</p>
            <p id='final_grade' style='font-size: 1.5em; margin: 5px'>
                {{ course.final_grade }}
            </p>
            <div id='report_final_grade' style='font-size: .8em'>
                {% if course.final_grade == '#' %}
                    Report Final Grade
                {% else %}
                    Change Final Grade
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id='report_final_grade_dialog_box' title='Report Final Grade'>
        <form id='report_final_grade_form'>
            <h2 class='form_title'>Report Final Grade</h2>
            <p>Choose your final grade. If you don't see what you want here, then too bad.</p>
            {{ course_form.final_grade }}
        </form>
    </div>

    {% include 'course_categories_assignments.html' with categories=categories  not_specified_category=not_specified_category %}

    <div id='add_category_dialog_box'>
        <form id='add_category_form'>

            <h2 class='form_title'>Add Category</h2>

            <label for='name_input'></label>
            <input type='text' id='name_input' autocomplete='off' placeholder='Category Name'/>

            <label for='worth_input'></label>
            <input type='text' id='worth_input' autocomplete='off'  placeholder='Category Worth out of 100'/>
        </form>
    </div>

    <div id='edit_category_dialog_box'>
        <form id='edit_category_form'>

            <h2 class='form_title'>Edit Category</h2>

            <label for='name_input'></label>
            <input type='text' id='name_input' autocomplete='off' placeholder='Category Name'/>

            <label for='worth_input'></label>
            <input type='text' id='worth_input' autocomplete='off'  placeholder='Category Worth out of 100'/>
        </form>
    </div>

    <div id='delete_category_dialog_box' title='Delete Category'>
        <form id='delete_category_form'>
            <h2 class='form_title'>Delete Category</h2>
            <p>
                Are you sure you want to delete this category?
            </p>
        </form>
    </div>

    <div id='add_assignment_dialog_box'>
        <form id='add_assignment_form'>

            <h2 class='form_title'>Add Assignment</h2>

            <label for='name_input'></label>
            <input type='text' id='name_input' autocomplete='off' placeholder='Assignment Name'/>

            <p style='display: inline-block; margin: 0 0 0 10%; width: 75px; vertical-align: middle' >Category: </p>

            <div id='add_category_input' style='margin: auto; display: inline-block; vertical-align: middle'>
                <div id='add_category_tree'>
                    <ul>
                        {% for category in categories %}
                            <li><div id='category_{{ category.id }}'>{{ category.name }}</div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id='grade_unknown_input' style='margin: 10px auto 0 10%'>Grade is unknown</div>

            <label for='points_earned_input'></label>
            <input type='text' id='points_earned_input' autocomplete='off'  placeholder='Points Earned'/>

            <label for='total_points_input'></label>
            <input type='text' id='total_points_input' autocomplete='off'  placeholder='Total Possible Points'/>
        </form>
    </div>

    <div id='edit_assignment_dialog_box'>
        <form id='edit_assignment_form'>

            <h2 class='form_title'>Edit Assignment</h2>

            <label for='name_input'></label>
            <input type='text' id='name_input' autocomplete='off' placeholder='Assignment Name'/>

            <p style='display: inline-block; margin: 0 0 0 10%; vertical-align: middle'>Category: </p>

            <div id='edit_category_input' style='margin: auto; display: inline-block; vertical-align: middle'>
                <div id='edit_category_tree'>
                    <ul>
                        {% for category in categories %}
                            <li id='{{ category_name }}'><div id='category_{{ category_id }}'>{{ category_name }}</div></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <div id='grade_unknown_input' style='margin: 10px auto 0 10%'>Grade is unknown</div>

            <label for='points_earned_input'></label>
            <input type='text' id='points_earned_input' autocomplete='off'  placeholder='Points Earned'/>

            <label for='total_points_input'></label>
            <input type='text' id='total_points_input' autocomplete='off'  placeholder='Total Possible Points'/>
        </form>
    </div>

    <div id='delete_assignment_dialog_box' title='Delete Assignment'>
        <form id='delete_assignment_form'>
            <h2 class='form_title'>Delete Assignment</h2>
            <p>
                Are you sure you want to delete this assignment?
            </p>
        </form>
    </div>

{% endblock %}