{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='/static/css/course_detail_stylesheet.css' />
    <script src='/static/javascript/course_detail_script.js'></script>

    <script type='text/javascript' src='/static/javascript/jquery-tablesorter.js'></script>
{% endblock %}

{% block base_content %}

    <h1 class='course_name' id='course_{{ course.id }}'>{{ course.name }}</h1>

    {% if not course.semester.is_future %}
        <div id='report_final_grade_div'>
            <p style='font-size: 1em'>Final Grade</p>
            <p id='final_grade' style='font-size: 1.5em; margin: 5px'>
                {{ course.final_grade }}
            </p>
            <div id='report_final_grade' style='font-size: .8em'>
                {% if course.final_grade == '#' %}
                    Report Final Grade
                {% else %}
                    Change Final Grade
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id='report_final_grade_dialog_box' title='Report Final Grade'>
        <form id='report_final_grade_form'>
            <h2 class='form_title'>Report Final Grade</h2>
            <p>Choose your final grade. If you don't see what you want here, then too bad.</p>
            {{ course_form.final_grade }}
        </form>
    </div>

    {% comment %}
    <div id='add-assignment-dialog-form' title='Add new assignment'>
		<p class='validate-tips'>All form fields are required.</p>

		<form>
			<fieldset>
				<label for='name'>
					Assignment Name (ex. "Homework Set 1" or "Midterm")
				</label>
				<input type='text' name='name' id='name' class='text' />
				<label for='awarded-points'>
					Awarded Points (ex. "15" or "85.5", no fractions)
				</label>
				<input type='text' name='awarded-points' id='awarded-points' class='text' />
				<label for='possible-points'>
					Possible Points (enter 100 if grade was a percentage)
				</label>
				<input type='text' name='possible-points' id='possible-points' class='text' />
			</fieldset>
		</form>
	</div><!-- end add-assignment-dialog-form div -->

    <h1>{{ selected_course.number }}: {{ selected_course.name }}</h1>

    {% if categories %}
        <table id='categories-table' class='sortable-table'>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Awarded Points</th>
                    <th>Possible Points</th>
                    <th>Percentage</th>
                    <th>Worth</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.awardedPoints }}</td>
                        <td>{{ category.possiblePoints }}</td>
                        <td>{{ category.percentage }}</td>
                        <td>{{ category.worth }} %</td>
                        <td>
                            <img class='edit-button' src='/static/images/edit.png'/>
                            <img class='delete-button' src='/static/images/delete.png'/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if assignments %}
        <table id='assignments-table' class='sortable-table'>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Awarded Points</th>
                    <th>Possible Points</th>
                    <th>Percentage</th>
                    <th>Category</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in assignments %}
                    <tr>
                        <td>{{ assignment.date }}10 / 16</td>
                        <td>{{ assignment.name }}</td>
                        <td>{{ assignment.awardedPoints }}</td>
                        <td>{{ assignment.possiblePoints }}</td>
                        <td>{{ assignment.percentage }} %</td>
                        <td>{{ assignment.category.name }}</td>
                        <td>
                            <img class='edit-button' src='/static/images/edit.png'/>
                            <img class='delete-button' src='/static/images/delete.png'/>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class='add-assignment-div'>
            <img class='add-assignment-button' src='/static/images/add.png'/>
            <p style='display: inline-block'>Add assignment for this course</p>
        </div>
    {% else %}
        <div class='add-assignment-div'>
            <p style='margin-bottom: 10px'>No assignments added for this category</p>
            <img class='add-assignment-button' src='/static/images/add.png'/>
            <p style='display: inline-block'>Add assignment for this course</p>
        </div>
    {% endif %}
    {% endcomment %}

{% endblock %}