{% extends 'base.html' %}

{% block extra_head %}
    <script type="text/javascript" src="/static/jqwidgets/jqxdropdownbutton.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxtree.js"></script>
    <script type="text/javascript" src="/static/jqwidgets/jqxpanel.js"></script>

    <link rel='stylesheet' type='text/css' href='/static/css/course_detail_stylesheet.css' />
    <link rel='stylesheet' type='text/css' href='/static/css/course_categories_stylesheet.css' />
    <script src='/static/javascript/course_detail_script.js'></script>
    <script src='/static/javascript/course_categories_script.js'></script>

    <script type='text/javascript' src='/static/javascript/jquery-tablesorter.js'></script>
{% endblock %}

{% block base_content %}

    <h1 class='course_name' id='course_{{ course.id }}'>{{ course.name }}</h1>

    {% if course.semester.courses|length > 1 %}
        {% include 'course_selector.html' with course=course %}
    {% endif %}

    {% if not course.semester.is_future %}
        <div id='report_final_grade_div'>
            <p style='font-size: 1em'>Final Grade</p>
            <p id='final_grade' style='font-size: 1.5em; margin: 5px'>
                {{ course.final_grade }}
            </p>
            <div id='report_final_grade' style='font-size: .8em'>
                {% if course.final_grade == '#' %}
                    Report Final Grade
                {% else %}
                    Change Final Grade
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div id='report_final_grade_dialog_box' title='Report Final Grade'>
        <form id='report_final_grade_form'>
            <h2 class='form_title'>Report Final Grade</h2>
            <p>Choose your final grade. If you don't see what you want here, then too bad.</p>
            {{ course_form.final_grade }}
        </form>
    </div>

    {% include 'course_categories.html' with categories=categories %}

    <div id='add_category_dialog_box' title='Add Category'>
        <form id='add_category_form'>

            <h2 class='form_title'>Add Category</h2>

            <label for='name_input'></label>
            <input type='text' id='name_input' autocomplete='off' placeholder='Category Name'/>

            <label for='worth_input'></label>
            <input type='text' id='worth_input' autocomplete='off'  placeholder='Category Worth in Percent'/>
        </form>
    </div>

    <div id='delete_category_dialog_box' title='Delete Category'>
        <form id='delete_category_form'>
            <h2 class='form_title'>Delete Category</h2>
            <p>
                Are you sure you want to delete this category?
            </p>
        </form>
    </div>

{% endblock %}