<tr class='course_table_row' id='course_{{ course.id }}'>
    <td class='s_s_table_data course_number'>{{ course.number }}</td>
    <td class='s_s_table_data course_name'>
        <a href='/gradebook/course_detail/{{ course.id }}/' class='course_link'>
            {{ course.name }}
        </a>
    </td>
    <td class='s_s_table_data course_instructor'>{{ course.instructor }}</td>
    <td class='s_s_table_data course_hours' {% if course.semester.is_future %}style='width: 15%'{% endif %}>
        {{ course.hours }} hrs
    </td>
    <td class='s_s_table_data course_grade' {% if course.semester.is_future %}style='width: 0'{% endif %}>
        {% if course.semester.is_future %}
            ---
        {% elif course.final_grade == '#'%}
            {% if course.total_worth_used == 0 %}
                --
            {% else %}
                {{ course.course_grade|floatformat:'-2' }}
            {% endif %}
        {% else %}
            {{ course.final_grade }}
        {% endif %}
    </td>
    <td class='mini_link course_edit hidden_in_s_s_table_cell'>edit</td>
    <td class='mini_link course_delete hidden_in_s_s_table_cell'>delete</td>
</tr>