<div id='categories_wrapper'>
    <table id='categories_table' cellspacing='0'>
        <thead>
            <tr class='category_table_row' id='category_first_row'>
                <td>Category</td>
                <td colspan='3'>Worth</td>
            </tr>
        </thead>
        <tbody>
            {% cycle 'dark_row' 'light_row' as rowcolors silent%}
            {% for category in categories %}
                {% cycle rowcolors %}
                <tr class='category_table_row {{ rowcolors }}' id='category_{{ category.id }}'>
                    <td id='category_name'>{{ category.name }}</td>
                    <td id='category_worth'>{{ category.worth|floatformat:'-2' }} %</td>
                    <td class='mini_link' id='edit_category_button'>edit</td>
                    <td class='mini_link' id='delete_category_button'>delete</td>
                </tr>
            {% endfor %}
            {% if not_specified_category.worth != 0 %}
                {% cycle rowcolors %}
                <tr class='category_table_row {{ rowcolors }}'>
                    <td>Not Specified</td>
                    <td colspan='3'>{{ not_specified_category.worth|floatformat:'-2' }} %</td>
                </tr>
            {% endif %}
            {% cycle rowcolors %}
            <tr class='category_table_row {{ rowcolors }}' id='category_last_row'>
                <td colspan='4' class='mini_link' id='add_category_button'>+ add category</td>
            </tr>
        </tbody>
    </table>
</div>