{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='/static/css/overview_stylesheet.css' />
    <link rel='stylesheet' href='/static/css/current_courses_stylesheet.css' />
    <script src='/static/javascript/current_courses.js'></script>
{% endblock %}

{% block base_content %}

    <h1>Current Courses</h1>

    {% for semester in semesters %}
        {% if semester.is_current %}
            {% include 'semester_square.html' with semester=semester %}
        {% endif %}
    {% endfor %}
{% endblock %}