{% extends 'base.html' %}

{% block extra_head %}
    <script src='/static/jqwidgets/jqxchart.js'></script>
    <script src='/static/jqwidgets/jqxcombobox.js'></script>
    <script src='/static/jqwidgets/jqxlistbox.js'></script>
    <script src='/static/jqwidgets/jqxbuttons.js'></script>
    <script src='/static/jqwidgets/jqxscrollbar.js'></script>
    <script src='/static/jqwidgets/jqxdropdownlist.js'></script>

    <link rel='stylesheet' type='text/css' href='/static/css/overview_stylesheet.css' />
    <script src='/static/javascript/overview_script.js'></script>
    <script src='/static/javascript/course_add_edit_delete.js'></script>
    <script src='/static/javascript/semester_add_edit_delete.js'></script>

    <link rel='stylesheet' type='text/css' href='/static/css/overview_charts_stylesheet.css' />
{% endblock %}

{% block base_content %}

    <h1>Overview</h1>

    <div id='overlay'></div>

    <div id='semester_squares_wrapper'>

        {% for semester in semesters %}
            {% include 'semester_square.html' with semester=semester %}
        {% endfor %}

        <div id='add_semester_button'>
            <div class='s_s_name_div'>
                <p class='s_s_name'>Add a Semester</p>
            </div>
        </div>

    </div> <!-- end semester_squares_wrapper -->

    {% if semesters %}
        {% include 'overview_charts.html' with semesters=semesters %}
    {% endif %}

    {% include 'course_semester_add_edit_delete_dialogs.html' with semesters=semesters %}

{%  endblock %}