{% extends 'base.html' %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css' href='/static/css/overview_stylesheet.css' />
    <script src='/static/javascript/overview_script.js'></script>
{% endblock %}

{% block base_content %}

    <h1>Overview</h1>

    <div id='overlay'></div>

    <div id='semester_squares_wrapper'>

        {% for semester in semesters %}
            {% include 'semester_square.html' with semester=semester %}
        {% endfor %}

        <div id='add_semester_button'>
            <div class='s_s_name_div'>
                <p class='s_s_name'>Add a Semester</p>
            </div>
        </div>

    </div> <!-- end semester_squares_wrapper -->

    <div id='add_semester_dialog_box' title='Add Semester'>
        <form id='add_semester_form' style='text-align: center'>
            <h2 class='form_title'>Add Semester</h2>

            <p>Semester Name (ex. "Fall 2014") (required)</p>
            <p class='validation_tips' style='display: none; color: darkred'></p>
            {{ semester_form.name }}
            <p>Start Date (required but estimating is okay)</p>
            <label><input id='add_semester_start_date' style='display: none'/></label>
            <p>End Date (required but estimating is okay)</p>
            <label><input id='add_semester_end_date' style='display: none'/></label>
        </form>
    </div>

    <div id='rename_semester_dialog_box' title='Rename Semester'>
        <form id='rename_semester_form'>
            <h2 class='form_title'>Rename Semester</h2>

            <p>Enter a new name for this semester (ex. "Fall 2014") (required)</p>
            <p class='validation_tips' style='display: none; color: darkred'></p>
            {{ semester_form.name }}

        </form>
    </div>

    <div id='delete_semester_dialog_box' title='Delete Semester'>
        <form id='delete_semester_form'>
            <h2 class='form_title'>Delete Semester</h2>
            <p>
                Are you sure you want to delete this semester?
                All data relating to this semester, including courses
                and assignments, will be deleted.
            </p>
        </form>
    </div>

    <div id='change_dates_dialog_box' title='Change Dates'>
        <form id='change_dates_form' style='text-align: center'>
            <h2 class='form_title'>Change Semester Dates</h2>
            <p>Change the dates for the start and end of the selected semester.</p>
            <p>Start Date (required but estimating is okay)</p>
            <label><input id='change_dates_start_date' style='display: none'/></label>
            <p>End Date (required but estimating is okay)</p>
            <label><input id='change_dates_end_date' style='display: none'/></label>
        </form>
    </div>

    <div id='add_course_dialog_box' title='Add Course'>
        <form id='add_course_form'>
            <h2 class='form_title'>Add Course</h2>
            <p>Course Name (ex. "Intro to Psychology") (required)</p>
            <p class='validation_tips' style='display: none; color: darkred'></p>
            {{ course_form.name }}
            <p>Course Number (ex. "PSY 301") (optional)</p>
            {{ course_form.number }}
            <p>Course Instructor (optional)</p>
            {{ course_form.instructor }}
            <p>Number of Hours (required)</p>
            {{ course_form.hours }}
        </form>
    </div>

    <div id='edit_course_dialog_box' title='Edit Course'>
        <form id='edit_course_form'>
            <h2 class='form_title'>Edit Course</h2>
            <p>Course Name (ex. "Intro to Psychology") (required)</p>
            <p class='validation_tips' style='display: none; color: darkred'></p>
            {{ course_form.name }}
            <p>Course Number (ex. "PSY 301") (optional)</p>
            {{ course_form.number }}
            <p>Course Instructor (optional)</p>
            {{ course_form.instructor }}
            <p>Number of Hours (required)</p>
            {{ course_form.hours }}
            <p>To change your grade, go to the <a>main page</a> for this course.</p>
        </form>
    </div>

    <div id='delete_course_dialog_box' title='Delete Course'>
        <form id='delete_course_form'>
            <h2 class='form_title'>Delete Course</h2>
            <p>
                Are you sure you want to delete this course?
                All data relating to this course, including categories
                and assignments, will be deleted.
            </p>
        </form>
    </div>

{%  endblock %}