<div class='semester_square' id='semester_{{ semester.id }}'>
    <div class='s_s_name_div'>
        <p class='s_s_name'>{{ semester.name }}</p>
        <div class='hidden_in_s_s_inline'>
            <p class='mini_link s_s_rename'>rename</p>
            <p class='mini_link s_s_delete'>delete</p>
        </div>
    </div>

    <div style='text-align: center'>
        <p class='hidden_in_s_s_inline s_s_dates' style='margin-right: 5px;'>
            {{ semester.start_date|date:'M d, Y' }} to {{ semester.end_date|date:'M d, Y' }}
        </p>
        <p class='hidden_in_s_s_inline mini_link s_s_change_dates'>edit</p>
    </div>

    <table class='semester_square_course_table'><tbody>
        {% if semester.course_set %}
            {% for course in semester.course_set.all %}
                {% include 'course_table_row.html' with course=course%}
            {% endfor %}
        {% endif %}
        <tr class='hidden_in_s_s_table_row add_course_tr'>
            <td colspan='7' style='text-align: center'><p class='mini_link add_course'>+ add course</p></td>
        </tr>
    </tbody></table>
    {% if semester.is_finished %}
        <table class='finished_semester_table'><tbody>
            <tr class='hidden_in_s_s_table_row'>
                <td class='s_s_table_data' style='width: 80%'>Hours Passed</td>
                <td class='s_s_table_data'>{{ semester.hours_passed }}</td>
            </tr>
            <tr class='hidden_in_s_s_table_row'>
                <td class='s_s_table_data'>GPA Hours</td>
                <td class='s_s_table_data'>{{ semester.gpa_hours }}</td>
            </tr>
            {% if semester.gpa_hours != 0 %}
                <tr class='hidden_in_s_s_table_row'>
                    <td class='s_s_table_data'>GPA Points</td>
                    <td class='s_s_table_data'>{{ semester.final_grade_points }}</td>
                </tr>
            {% endif %}
            <tr>
                <td class='s_s_table_data' style='width: 80%'>Semester GPA</td>
                <td class='s_s_table_data' style='font-size: 1.2em'>
                    {% if semester.final_grade_points == 0 %}
                        --
                    {% else %}
                        {{ semester.final_gpa|floatformat:'-3' }}
                    {% endif %}
                </td>
            </tr>
            <tr class='hidden_in_s_s_table_row'>
                <td class='s_s_table_data'>Total Hours Passed</td>
                <td class='s_s_table_data'>{{ semester.cumulative_hours_passed }}</td>
            </tr>
            <tr>
                <td class='s_s_table_data'>Cumulative GPA</td>
                <td class='s_s_table_data' style='font-size: 1.2em'>
                    {% if semester.cumulative_gpa_hours == 0 %}
                        --
                    {% else %}
                        {{ semester.cumulative_gpa|floatformat:'-3' }}
                    {% endif %}
                </td>
            </tr>
        </tbody></table>
    {% endif %}
    {% if semester.is_current %}
        <table class='current_semester_table'><tbody>
            <tr>
                <td colspan='3' class='s_s_table_data' style='text-align: center'>
                    Prospective Semester GPA
                </td>
            </tr>
            <tr>
                <td class='s_s_table_data gpa_data_number'>{{ semester.potential_min_gpa|floatformat:'-2' }}</td>
                <td class='s_s_table_data gpa_data_number'>{{ semester.potential_gpa|floatformat:'-2' }}</td>
                <td class='s_s_table_data gpa_data_number'>{{ semester.potential_max_gpa|floatformat:'-2' }}</td>
            </tr>
            <tr>
                <td class='s_s_table_data gpa_data_name'>minimum</td>
                <td class='s_s_table_data gpa_data_name'>current</td>
                <td class='s_s_table_data gpa_data_name'>maximum</td>
            </tr>
        </tbody></table>
    {% endif %}
    {% if semester.is_future %}
        <table class='current_semester_table'><tbody>
            <tr>
                <td class='s_s_table_data' style='width: 85%'>Hours planned</td>
                <td class='s_s_table_data'>{{ semester.hours_planned }}</td>
            </tr>
        </tbody></table>
    {% endif %}
</div>