/* {
    border: 1px dotted black;
}*/

.sortable-table {
    width: 90%;
    margin: 0 auto 10px auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}

.sortable-table th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px 23px 8px 8px;
	background: #b9c9fe;
	border-bottom: 1px solid #fff;
	color: #039;
}

.sortable-table .header {
	background: #b9c9fe url(/static/images/table-images/bg.gif) no-repeat center right;
	cursor: pointer;
}

.sortable-table .headerSortUp {
	background-image: url(/static/images/table-images/asc.gif);
}

.sortable-table .headerSortDown {
	background-image: url(/static/images/table-images/desc.gif);
}

.sortable-table .headerSortDown, .sortable-table .headerSortUp {
    background-color: #a6b4e4;
}

.sortable-table td {
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff;
}

.sortable-table tr.odd td {
	background-color: #d0d5e5;
}

.sortable-table tr:hover td {
	background: #b9bdcc;
	color: #339;
}

.delete-edit-buttons {
    float: right;
}

.edit-button {
    top: 0;
    padding: 2px;
    position: relative;
}

.delete-button {
    top: 0;
    padding: 2px;
    position: relative;
}

.add-assignment-div {
    width: 85%;
    margin: 0 auto 1em auto;
}

.add-assignment-button {
    top: 2px;
    padding: 3px;
    vertical-align: text-bottom;
    position: relative;
}