@import 'global_variables.scss';

.ui-dialog {
    font-size: .825em;
}

.ui-dialog-titlebar {
    display: none;
}

.form-title {
    font-size: 2em;
    text-align: center;
    margin: 5px auto;
    display: block;
    color: $black_text;
}

.form-wrapper {
    width: 350px;
    margin: auto;

    border: 1px $border_gray solid;
    border-radius: 5px;

    position: relative;

    p {
        width: 80%;
        margin: 10px auto;
        overflow: visible;
        white-space: normal;
        font-size: 1em;
    }
}

form p {
    width: 80%;
    margin: 10px auto;
    overflow: visible;
    white-space: normal;
    font-size: 1em;
}

input {
    width: 80%;
    height: 2em;
    margin: 10px auto;
    padding: 1px 5px;

    font-size: 1em;
    line-height: 2em;

    border: 1px $border_gray solid;
    border-radius: 2px;

    display: block;
    color: #999999;

    &:focus {
        border-color: white;
    }

    &[type=submit] {
        width: 10em;
        margin: 15px 7.5% 15px auto;
        display: block;
        color: $black_text;
    }

    &.text {
        margin-bottom:12px;
        width:95%;
        padding: .4em;
    }
}

fieldset {
	padding:0;
	border:0;
	margin-top:25px;
}

.error {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    font-size: 1em;
    line-height: 2em;
    color: darkred;
}

.horizontal_line {
    border-top: 1px $border_gray solid;
    width: 98%;
    margin: 0 auto;
}