{% extends "base.html" %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="/static/css/course-detail-stylesheet.css" />
    <script src="/static/javascript/course-detail.js"></script>
{% endblock %}

{% block base_content %}

    <div id="add-course-dialog-form" title="Add new course">
		<p class="validate-tips">All form fields are required.</p>

		<form>
			<fieldset>
				<label for="number">
					Course Number (ex. "PSY 301" or "M 408L")
				</label>
				<input type="text" name="number" id="number" class="text" />
				<label for="name">
					Course Name (ex. "Intro to Psych" or "Integral Calculus")
				</label>
				<input type="text" name="name" id="name" class="text" />
				<label for="instructor">
					Course Instructor (ex. "John Smith" or "Dr. Lin")
				</label>
				<input type="text" name="instructor" id="instructor" class="text" />
			</fieldset>
		</form>
	</div><!-- end add-course-dialog-form div -->

    <div id="add-assignment-dialog-form" title="Add new assignment">
		<p class="validate-tips">All form fields are required.</p>

		<form>
			<fieldset>
				<label for="name">
					Assignment Name (ex. "Homework Set 1" or "Midterm")
				</label>
				<input type="text" name="name" id="name" class="text" />
				<label for="awarded-points">
					Awarded Points (ex. "15" or "85.5", no fractions)
				</label>
				<input type="text" name="awarded-points" id="awarded-points" class="text" />
				<label for="possible-points">
					Possible Points (enter 100 if grade was a percentage)
				</label>
				<input type="text" name="possible-points" id="possible-points" class="text" />
			</fieldset>
		</form>
	</div><!-- end add-assignment-dialog-form div -->

    <div id="left">
        <h1>{{ selected_semester }}</h1>

        {% if courses %}
            <ul id="sortable-courselist">
                {% for course in courses %}
                    <li class="course">
                        <p>{{ course.number }}: {{ course.name }}</p>
                        <p style="display: inline-block">{{ course.instructor }}</p>
                        <div class="delete-edit-buttons">
                            <img class="edit-button" src="/static/images/edit.png"/>
                            <img class="delete-button" src="/static/images/delete.png"/>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <div class="course">
                <p>No classes added for this semester</p>
            </div>
        {% endif %}

        <div class="add-course-div">
            <img class="add-course-button" src="/static/images/add.png"/>
            <p style="display: inline-block">Add category for this semseter</p>
        </div>
    </div><!-- end left div -->

    <div id="right">
        <h1>{{ selected_course.number }}: {{ selected_course.name }}</h1>
        {% if categories %}
            {% for category in categories %}
                <div class="category">
                    <p>{{ category.name }}</p>
                    <p style="text-align: right">{{ category.worth }} %</p>
                </div>
                {% if category.has_assignments %}
                    <ul class="sortable-assignmentlist">
                        {% for assign in category.assignments %}
                            <li class="assignment">
                                <p style="width: 50%">{{ assign.name }}</p>
                                <p style="text-align: right; width: 17.5%">{{ assign.awardedPoints }} / {{ assign.possiblePoints }}</p>
                                <p style="text-align: right; width: 17.5%">{{ assign.percentage }} %</p>

                                <div class="delete-edit-buttons">
                                    <img class="edit-button" src="/static/images/edit.png"/>
                                    <img class="delete-button" src="/static/images/delete.png"/>
                                </div>
                             </li>
                        {% endfor %}
                    </ul>

                    <div class="add-assignment-div">
                        <img class="add-assignment-button" src="/static/images/add.png"/>
                        <p style="display: inline-block">Add assignment for this category</p>
                    </div>
                {% else %}
                    <div class="add-assignment-div">
                        <p style="margin-bottom: 10px">No assignments added for this category</p>
                        <img class="add-assignment-button" src="/static/images/add.png"/>
                        <p style="display: inline-block">Add assignment for this category</p>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>Nutin' yet</p>
        {% endif %}
    </div><!-- end right div -->

{%  endblock %}