@import '../../../mygrades/static/css/global_variables.scss';

#course_selector_wrapper {
    margin: .75em;
}

#course_selector_label {
    display: inline-block;
    vertical-align: middle;
}

#course_selector_drop_down_button {
    display: inline-block;
    vertical-align: middle;
}

.course_selector_tree_item {
    max-width: 185px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#course_selector_go_button {
    display: inline-block;
}

#report_final_grade_div, #course_grade_div {
    height: 95px;
    padding: 5px 15px;
    margin: .75em 0;
    text-align: center;
    border: 1px $border_gray solid;
    border-radius: 3px;
    display: inline-block;
}

#id_final_grade {//select field in course form
    display: block;
    margin: auto;
}

.mini_link {
    display: inline-block;
    font-size: .75em;
}

.min_max_grade_text {
    font-size: .8em;
    display:inline-block;
    vertical-align: middle;
}

.min_max_grade_number {
    font-size: 1em;
    display:inline-block;
    vertical-align: middle;
}

#categories_assignments_wrapper {
    padding: 0 2.5%;
}