@import '../../../mygrades/static/css/global_variables.scss';

#assignments_table {
    width: 100%;
}

#assignments_wrapper {
    margin: 2em auto .5em;
}

#assignments_table_first_row {
    background-color: $dark_red;

    border: 1px solid $dark_red;
    > td:first-child {
        border-top-left-radius: 5px;
    }
    > td:last-child {
        border-top-right-radius: 5px;
    }
}

#assignments_table_last_row {
    border: 1px solid;
    > td:first-child {
        border-bottom-left-radius: 5px;
    }
    > td:last-child {
        border-bottom-right-radius: 5px;
    }
}

.assignments_table_row {
    color: $white_text;
    line-height: 1em;

    td {
        padding: 4px;
    }
}

.dark_row {
    background-color: $dark_shade;
}

.light_row {
    background-color: $medium_shade;
}