#report_final_grade_div {
  padding: 5px 15px;
  text-align: center;
  border: 1px #aaaaaa solid;
  border-radius: 3px;
  display: inline-block; }

#id_final_grade {
  display: block;
  margin: auto; }
