@import '../../../mygrades/static/css/global_variables.scss';


#report_final_grade_div {
    padding: 5px 15px;
    text-align: center;
    border: 1px $border_gray solid;
    border-radius: 3px;
    display: inline-block;
}

#id_final_grade {//select field in course form
    display: block;
    margin: auto;
}