#categories_table {
  width: 100%; }

#categories_wrapper {
  width: 95%;
  margin: auto; }

#add_category_button, #delete_category_button, #edit_category_button {
  color: blue; }
  #add_category_button:hover, #delete_category_button:hover, #edit_category_button:hover {
    text-decoration: underline;
    cursor: pointer; }
