@import '../../../mygrades/static/css/global_variables.scss';


#report_final_grade_div {
    padding: 5px 15px;
    text-align: center;
    border: 1px $border_gray solid;
    border-radius: 3px;
    display: inline-block;
}

#id_final_grade {//select field in course form
    display: block;
    margin: auto;
}

/*.sortable-table {
    width: 90%;
    margin: 0 auto 10px auto;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
}

.sortable-table th {
	font-size: 13px;
	font-weight: normal;
	padding: 8px 23px 8px 8px;
	background: #b9c9fe;
	border-bottom: 1px solid #fff;
	color: #039;
}

.sortable-table .header {
	background: #b9c9fe url(/static/images/table-images/bg.gif) no-repeat center right;
	cursor: pointer;
}

.sortable-table .headerSortUp {
	background-image: url(/static/images/table-images/asc.gif);
}

.sortable-table .headerSortDown {
	background-image: url(/static/images/table-images/desc.gif);
}

.sortable-table .headerSortDown, .sortable-table .headerSortUp {
    background-color: #a6b4e4;
}

.sortable-table td {
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff;
}

.sortable-table tr.odd td {
	background-color: #d0d5e5;
}

.sortable-table tr:hover td {
	background: #b9bdcc;
	color: #339;
}

.delete-edit-buttons {
    float: right;
}

.edit-button {
    top: 0;
    padding: 2px;
    position: relative;
}

.delete-button {
    top: 0;
    padding: 2px;
    position: relative;
}

.add-assignment-div {
    width: 85%;
    margin: 0 auto 1em auto;
}

.add-assignment-button {
    top: 2px;
    padding: 3px;
    vertical-align: text-bottom;
    position: relative;
}*/

/*.ui-dialog {
    font-size: .825em;
}

label, input {
	display:block;
}

input.text {
	margin-bottom:12px;
	width:95%;
	padding: .4em;
}

fieldset {
	padding:0;
	border:0;
	margin-top:25px;
}*/
