#categories_table {
  width: 100%; }

#categories_wrapper {
  margin: .5em auto; }

#categories_table_first_row {
  background-color: #890000;
  border: 1px solid #890000; }
  #categories_table_first_row > td:first-child {
    border-top-left-radius: 5px; }
  #categories_table_first_row > td:last-child {
    border-top-right-radius: 5px; }

#categories_table_last_row {
  border: 1px solid; }
  #categories_table_last_row > td:first-child {
    border-bottom-left-radius: 5px; }
  #categories_table_last_row > td:last-child {
    border-bottom-right-radius: 5px; }

.categories_table_row {
  color: #f9fcef;
  line-height: 1em; }
  .categories_table_row td {
    padding: 4px; }

.dark_row {
  background-color: #2b405c; }

.light_row {
  background-color: #576d7f; }
