#overlay {
  background-color: #777777;
  opacity: 0;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  display: none;
  z-index: 9; }

#semester_squares_wrapper {
  text-align: center; }

.semester_square {
  min-width: 340px;
  width: 31%;
  min-height: 300px;
  padding-bottom: 10px;
  margin: 10px 1%;
  border-radius: 5px;
  text-align: left;
  background-color: #2b405c;
  transition: background-color 0.1s linear;
  display: inline-block; }
  .semester_square:hover {
    background-color: #576d7f;
    cursor: pointer; }
  .semester_square p:not(.mini_link) {
    text-align: center;
    color: #f9fcef; }

.s_s_name_div {
  margin: .75em auto .25em;
  display: block;
  text-align: center; }

.s_s_name {
  margin: 0 5px;
  color: #f9fcef;
  font-size: 1em;
  /*text-align: center;*/
  display: inline-block; }

.large_semester_square {
  margin: 0;
  border-radius: 5px;
  border: none;
  background: #2b405c;
  z-index: 10;
  position: fixed;
  text-align: left; }
  .large_semester_square .course_link:hover {
    text-decoration: underline; }
  .large_semester_square p:not(.mini_link) {
    text-align: center;
    color: #f9fcef; }

.hidden_in_s_s_inline, .hidden_in_s_s_block, .hidden_in_s_s_table_row, .hidden_in_s_s_table_cell {
  display: none; }

.mini_link {
  margin: 0;
  color: darkturquoise;
  font-size: .6em; }
  .mini_link:hover {
    text-decoration: underline;
    cursor: pointer; }

#add_semester_button {
  min-width: 330px;
  width: calc(31% - 10px);
  height: 290px;
  margin: 10px 1%;
  top: 5px;
  position: relative;
  display: inline-block;
  border: 5px dashed #576d7f;
  border-radius: 5px;
  background: url(/static/images/plus_sign_light.png) no-repeat center center;
  transition: border-color 0.1s linear; }
  #add_semester_button:hover {
    cursor: pointer;
    border-color: #2b405c;
    background-image: url(/static/images/plus_sign_dark.png); }
  #add_semester_button div p {
    color: #222222; }

.semester_square_course_table {
  width: 95%;
  margin: .5em auto;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f9fcef;
  table-layout: fixed; }

.s_s_table_data {
  /*semester_square_table_data*/
  padding: .1em 0;
  font-size: .8em;
  color: #f9fcef;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.course_number {
  width: 22%; }

.course_hours {
  width: 0; }

.course_link {
  color: #f9fcef;
  text-decoration: none; }

.course_name {
  width: 63%; }

.course_instructor {
  width: 0; }

.course_grade {
  width: 15%; }

.course_edit, .course_delete {
  width: 0;
  overflow: hidden; }

.finished_semester_table {
  width: 95%;
  margin: auto;
  table-layout: fixed; }

.current_semester_table {
  width: 95%;
  margin: auto;
  table-layout: fixed; }

.gpa_data_number {
  width: 33%;
  text-align: center;
  font-size: 1.2em; }

.gpa_data_name {
  width: 33%;
  text-align: center;
  font-size: .7em; }

.future_semester_table {
  width: 95%;
  margin: auto;
  table-layout: fixed; }

#id_hours {
  display: block;
  margin: auto; }
