@import '../../../mygrades/static/css/global_variables.scss';

#overlay {
    background-color: #777777;
    opacity: 0;
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    display: none;
    z-index: 9;
}

#semester_squares_wrapper {
    text-align: center;
}

.semester_square {
    min-width: $semester_square_width;
    width: 31%;
    min-height: 300px;
    margin: 10px 1%;
    border-radius: 5px;
    text-align: left;

    background-color: $dark_shade;
    transition: background-color 0.1s linear;

    display: inline-block;

    &:hover {
        background-color: $medium_shade;
        cursor: pointer;
    }

    p:not(.mini_link) {
        text-align: center;
        color: $white_text;
    }
}

.s_s_name_div {
    margin: .75em auto .25em;
    display: block;
    text-align: center;
}

.s_s_name {
    margin: 0 5px;
    color: $white_text;
    font-size: 1em;
    /*text-align: center;*/
    display: inline-block;
}

.large_semester_square {
    margin: 0;
    border-radius: 5px;
    background-color: $dark_shade;
    z-index: 10;
    position: fixed;
    text-align: left;

    .course_link:hover {
        text-decoration: underline;
    }

    p:not(.mini_link) {
        text-align: center;
        color: $white_text;
    }
}

.hidden_in_s_s_inline, .hidden_in_s_s_block {
    display: none;
}

.mini_link  {
    margin: 0;
    color: $link_color;
    font-size: .6em;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

#add_semester_button {
    min-width: $semester_square_width - 10px;
    width: calc(31% - 10px);
    height: 290px;
    margin: 10px 1%;
    top: 5px;
    position: relative;

    display: inline-block;

    border: 5px dashed $medium_shade;
    border-radius: 5px;

    background: url(/static/images/plus_sign_light.png) no-repeat center center;
    transition: border-color 0.1s linear;

    &:hover {
        cursor: pointer;
        border-color: $dark_shade;

        background-image: url(/static/images/plus_sign_dark.png);
    }

    div p {
        color: $black_text;
    }
}

.semester_square_course_table {
    width: 95%;
    margin: .5em auto;
    padding-bottom: 0.5em;
    border-bottom: 1px solid $white_text;
    table-layout: fixed;
}

.s_s_table_data { /*semester_square_table_data*/
    padding: .1em 0;
    font-size: .8em;

    color: $white_text;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.course_number {
    width: 20%;
}

.course_hours {
    width: 0;
}

.course_link {
    color: $white_text;
    text-decoration: none;
}

.course_name {
    width: 65%;
}

.course_instructor {
    width: 0;
}

.course_grade {
    width: 15%;
}

.course_edit, .course_delete {
    width: 0;
    overflow: hidden;
}

.finished_semester_table {
    width: 95%;
    margin: auto;
    table-layout: fixed;
}

.current_semester_table {
    width: 95%;
    margin: auto;
    table-layout: fixed;
}

.gpa_data_number {
    width: 33%;
    text-align: center;
    font-size: 1.2em;
}

.gpa_data_name {
    width: 33%;
    text-align: center;
    font-size: .7em;
}

.future_semester_table {
    width: 95%;
    margin: auto;
    table-layout: fixed;
}

#id_hours {//select field in add course form
    display: block;
    margin: auto;
}